* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html {
     scroll-behavior: smooth;
 }
 body {
     font-family: 'Roboto';
 }
 .page {
     height: 100vh;
 }
 .home {
     background-image: url('something.jpg');
     background-position: center;
     background-size: cover;
 }
 
 .overlay{
     height: 100vh;
     background-color: rgba(248, 245, 238, 0.89)
 }

 .overlay2{
    height: 100vh;
    background-color: rgb(255, 255, 255)
 }
 
 .nav-bar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1.5rem;
     width: 100%;
     margin: auto;
     position: fixed;
     background-color:rgb(255, 255, 255);
     z-index: 100;
     border-bottom:solid 2px #eee;
     transition: all ease-in-out 1.2s;
     transform: translateY(-100%)
 }
 
 .nav-bar.active {
    transform: translateY(0);
}


.menu {
    display: flex;
}
ul {
    list-style: none;
}

li {
    margin-right: 15px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 21px;
}


.links:hover {
    color:teal;
}

.nav-logo{
    font-weight: 600;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.main-image{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 55px;
    color: teal; 
}

@keyframes typewriter {
    0%, 100% {
      width: 0;
    }
    20%, 80% {
      width: 6.5em;
    }
  }
  
  @keyframes typewriter2 {
    0%, 100% {
      width: 0;
    }
    20%, 80% {
      width: 9.6em;
    }
  }

  @keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  /*Credit to Valentyn Vasylenko */ 
  .text_1 {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  
  
  .text_1::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }

  .text_2 {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter2;
    display: inline-block;
    position: relative;
    animation-duration: 7s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  
  
  .text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }



.avatar{
    height: 350px;
    width: 420px;
    border-radius: 45%;
    filter: drop-shadow(0 0 0.75rem rgb(141, 141, 141));
}
.about {
    background-image: url('something.jpg');
    background-position: center;
    background-size: cover;
}

.about-container, .services-container, .portfolio-container{
    top:50%;
    left:50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.about-img{
    height: 450px;
    width: 400px;
    border-radius: 60%;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 60));
}

.about-content{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 65%;
    margin: auto;
    line-height: 1.4;
}

.about-content h2,p {
    margin-bottom: 20px;
}

.services{
    background-image: url('newImage.jpg');
    background-position: center;
    background-size: cover;
}

.services-header, .portfolio-container{
    text-align: center;
    margin-bottom: 100px;
}

h5{
    color: teal;
}

.services-content, .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:80%;
    margin: auto;
    gap: 20px;
    text-align:center;
    line-height: 1.4;
}

h3{
    text-transform: uppercase;
}

i {
    font-size: 50px;
    margin-bottom: 15px;
}

.portfolio{
    background-image: url('newImage.jpg');
    background-position: center;
    background-size: cover;
}

.portfolio-content img{
    height: 920px;
    width: 480px;
}

    footer {
        position: relative;
        height: 100px;
        width: 100%;
        background-color: #dfdfdf;
    }

    p.contact{
        position: top;
        text-align: left;
        bottom: 60px;
    }

    

    p.copyright {
        position: absolute;
        width: 100%;
        color: rgb(0, 0, 0);
        line-height: 50px;
        font-size: 1.6em;
        text-align: center;
        bottom:10px;
    }
